{{>header}}

    <h1>Find The Weather</h1>

    <form>
        <div class="input-group mb-3 input-group-lg">
            <input type="text" class="form-control" placeholder="Location" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success" type="button" id="button-addon2">Search</button>
            </div>
        </div>  
    </form>

    <div class="messages">
        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-5"></p>
        <p id="message-6"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
        
    </div>

{{>footer}}